.header {
    padding: 3vh 3vw 0 3vw;

    &__container {
        display: flex;
        align-items: center;
        gap: 2vw;
        min-height: 4.5vh;
    }
    &__nav {
        flex: 1 1 auto;
        margin-top: -2.5vh;
    }
}

.nav {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        column-gap: 2vw;
        row-gap: 1vh;
    }

    &__item {
        text-align: center;
    }
    &__link {
        color: #3d9090;
        font-weight: 400;
        font-size: 1.3vw;
        line-height: 133.84%;
        letter-spacing: 0.055em;
        text-transform: uppercase;
    }
    &__link:hover {
        color: #3ec4c4;
        transition: color 0.3s ease-in-out;
    }
    &__link:not(:hover) {
        transition: color 0.3s ease-in-out;
    }
}
.logo {
    width: 14vw;
}
.logo:hover {
    path {
        fill: #3fb8b8;
        transition: fill 0.3s ease-in-out;
    }
}
.logo:not(:hover) {
    path {
        transition: fill 0.3s ease-in-out;
    }
}
