.header {
    padding: calc(0.3vw + 0.3vh) calc(1.5vw + 1.5vh);
    box-sizing: border-box;
    min-height: calc(2vw + 2vh);
    height: calc(2.5vw + 2.5vh);

    &__container {
        display: flex;
        align-items: center;
        gap: calc(1vw + 1vh);
        // min-height: calc(2.5vw + 2.5vh);
        // min-height: 20px;
        // max-height: 80px;
    }
    &__nav {
        flex: 1 1 auto;
        margin-top: calc(-1.2vw - 1.2vh);
    }
}

.nav {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        column-gap: calc(1vw + 1vh);
        row-gap: calc(0.5vw + 0.5vh);
    }

    &__item {
        text-align: center;
    }
    &__link {
        color: #3d9090;
        font-weight: 400;
        font-size: calc(0.8vw + 0.8vh);
        line-height: calc(1vw + 1vh);
        letter-spacing: 0.055em;
        text-transform: uppercase;
    }
    &__link:hover {
        color: #3ec4c4;
        transition: color 0.3s ease-in-out;
    }
    &__link:not(:hover) {
        transition: color 0.3s ease-in-out;
    }
}
.logo {
    width: calc(8vw + 8vh);
}
.logo:hover {
    path {
        fill: #3fb8b8;
        transition: fill 0.3s ease-in-out;
    }
}
.logo:not(:hover) {
    path {
        transition: fill 0.3s ease-in-out;
    }
}
