@import "./reset";
@import url("http://fonts.cdnfonts.com/css/sf-compact-display");

body {
    margin: 0;
    font-family: "SF Compact Display", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #dbeeee;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
